In [1]:
import warnings
warnings.filterwarnings('ignore')

from src.prepare import telco_eda_prep

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = telco_eda_prep()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   partner            7043 non-null   object
 1   dependents         7043 non-null   object
 2   tenure             7043 non-null   int64
 3   phone_service      7043 non-null   object
 4   multiple_lines     7043 non-null   object
 5   internet_service   7043 non-null   object
 6   online_security    7043 non-null   object
 7   online_backup      7043 non-null   object
 8   device_protection  7043 non-null   object
 9   tech_support       7043 non-null   object
 10  streaming_tv       7043 non-null   object
 11  streaming_movies   7043 non-null   object
 12  contract           7043 non-null   object
 13  paperless_billing  7043 non-null   object
 14  payment_method     7043 non-null   object
 15  monthly_charges    7043 non-null   float64
 16  total_charges      7043 non-null   float64
 17  churn              7043 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 990.5+ KB

In [3]:
df.head()

,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,1-year,Yes,check,65.6,593.30,No
1,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,month-to-month,No,check,59.9,542.40,No
2,No,No,4,Yes,No,fiber optic,No,No,Yes,No,No,No,month-to-month,Yes,e-check,73.9,280.85,Yes
3,Yes,No,13,Yes,No,fiber optic,No,Yes,Yes,No,Yes,Yes,month-to-month,Yes,e-check,98.0,1237.85,Yes
4,Yes,No,3,Yes,No,fiber optic,No,No,No,Yes,Yes,No,month-to-month,Yes,check,83.9,267.40,Yes

In [ ]:
f=plt.subplots(figsize=(9,6))
ax=sns.histplot(data=df, x='InternetService', hue='Churn', palette='hot_r', stat='count', )
ax.set_xlabel("Plan")
ax.set_title("Churn by Internet Service");

In [ ]:
df.Contract.value_counts()

In [ ]:
f=plt.subplots(figsize=(9,6))
ax=sns.histplot(data=df, x='Contract', hue='Churn', palette='hot_r')
ax.set_xlabel("Plan")
ax.set_title("Churn by Contract Type");

In [ ]:
f=plt.subplots(figsize=(9,6))
ax=sns.histplot(data=df, x='PaymentMethod', hue='Churn', palette='hot_r')
ax.set_xlabel("Method")
ax.set_title("Churn by Payment Method");

In [ ]:
f=plt.subplots(figsize=(15,7))
ax=sns.scatterplot(data=df, y='MonthlyCharges', x='tenure', hue='Churn', palette='cubehelix_r')
ax.set_xlabel("Months with company")
ax.set_title("Monthly Charges Over Time");